@import url("https://reizu.moe/krunker/reizu.css");
:root {
  --health-color: var(--accent-color);
  --ammo-color: #fff;
  --premium-color: #fbc02d;
  --verified-color: #40c4ff;
  --menu-bg-color: rgba(15, 15, 15, 0.2);
  --menu-bg-color-secondary: rgba(0, 0, 0, 0.5);
  --ingame-bg-color: rgba(15, 15, 15, 0.2);
  --text-transform: lowercase;
}

@font-face {
  font-family: gamefont;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2);
}

@font-face {
  font-family: hpammo;
  src: url(https://reizu.moe/fonts/Renogare.ttf);
}

#altManagerBNTSO,
#altManagerBNTSI {
  font-size: 18px;
  margin-top: 13px;
  /*left: 320px;*/
  padding-top: 7px;
  padding-bottom: 20px;
  height: 50px;
  position: relative;
}

#signedInHeaderBar {
  width: auto !important;
}

#altManagerBNTSO {
  margin-left: 150px;
  margin-top: 19px;
}

.text {
  color: red;
}

.rainbow,
#rainbowText {
  -webkit-animation: rainbow 0.5s linear infinite;
  animation: rainbow 0.5s linear infinite;
}

@keyframes rainbow {
  0%,
  100% {
    color: Crimson;
    border-color: Crimson;
  }
  20% {
    color: orange;
    border-color: orange;
  }
  40% {
    color: #ff0;
    border-color: #ff0;
  }
  60% {
    color: lime;
    border-color: lime;
  }
  80% {
    color: MediumBlue;
    border-color: MediumBlue;
  }
}

#SettingsGrid {
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 18px;
  text-align: center;
}

.scuffedSTab {
  width: 265px;
  height: 265px;
  display: inline-block;
  border-radius: 15px;
  opacity: 0.3;
  transition: 0.3s;
}

.scuffedSTab:hover {
  opacity: 1;
}

#IMGScuffedTab {
  height: 250px;
  width: 250px;
}

#clientExit {
  display: none !important;
}

#leaderDisplay {
  width: auto;
  min-width: 285px;
  max-width: 600px;
}

#topRightCounters {
  float: left;
}

.menuClassLevelBox,
.menuClassPlayerName,
.menuClassPlayerClan {
  position: relative;
  top: 150px;
}
#adHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

#adInfo,
#adTimeLeft,
#adPro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -3.5%);
  font-size: 3rem;
}

#adTimeLeft {
  margin-top: 50px;
  font-size: 3rem;
}

#adPro {
  margin-top: 100px;
  font-size: 3rem;
}
#mainLogo {
  display: none;
}
#seasonLabel {
  display: none;
}
#spectButton {
  position: absolute !important;
  top: 25px !important;
  display: block !important;
  left: 50% !important;
  transform: translate(-50%) !important;
}
#leaderDisplay {
  /* width: auto; */
  min-width: 285px;
  max-width: 600px;
}
